body{
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Open Sans';
    line-height: 1.5;
    font-size: 1.5 em;
    padding: 4em 1em;
    color: #555;
}

h1{
    font-size: 4em;
}

h1,
h2,
strong {
    color: rgb(199, 18, 18);
    font-family: 'Philosopher', 'Arial Narrow Bold', sans-serif;
}

h2{
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #e81c4f;
}

footer{
    bottom: 0;
    
}

img{
    max-width:100%;
}

svg{
    max-width: 100%;
}